---
import Layout from '../layouts/Layout.astro';
import Test from '../components/test.svelte';
---

<Layout title="lukas kingen">
	<main class="test">
		<Test client:load/>
	</main>
</Layout>

<style>
	.test {
		align-self: center;
	}
</style>
