---
import Layout from "../layouts/Layout.astro";
import SkickaSidan from "../components/SkickaKvitto.svelte";
---

<Layout title="lukas kingen">
	<main class="test">
		<SkickaSidan client:load />
	</main>
</Layout>

<style>
	.test {
		align-self: center;
	}
</style>
