<div class="Header">
    <img
        alt="nf logga"
        src="loggan.jpg"
        width="200px"
    />
    <h1 class="fixaText">nf kvitton</h1>
</div>

<style>
    .Header {
    align-self: center;
    margin-top: 2vh;
    max-width: 400px;

}
    .fixaText {
        display: flex;
        justify-content: center;
        font-size: 5rem;
        margin: 0rem;
    }
</style>