---
import Layout from "../../layouts/Layout.astro";
import VisaKvitto from '../../components/VisaKvitton.svelte';
import { createClient } from '@supabase/supabase-js'
const urls = "https://fwikjqgmaisqizeqbaji.supabase.co";
const keys =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ3aWtqcWdtYWlzcWl6ZXFiYWppIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjYwMjkxMjIsImV4cCI6MTk4MTYwNTEyMn0.v0LCLpTObviIdT8vEMfxfTOjQeZOaaaC7MMXdR7ib_o";

const supabase = createClient(urls, keys,{});
        const { data, error } = await supabase
        .from('kvitton')
        .select()
---

<Layout title="lukas kingen">
	<main class="test">
		<VisaKvitto data={data} client:idle />
	</main>
</Layout>

<style>
	.test {
		align-self: center;
	}
</style>
